<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to EDURange</h1>
    <p>
      An instructor account has been created for you. Here are your credentials.
    </p>
    email: <%= @user.email %>
    <p>
    password: <%= @password %>
    </p>
  </body>
</html>
