%script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
%script{:type => "text/javascript", :src => "chartkick.js"}
%div.panel.panel-default
    %div.panel-heading.nav-nav-pills
	
        %h4
            %b
                %span#scenario-name
                    = @statistic.scenario_name
                    = "created at: "
                    = @statistic.created_at
        / %column_chart[Statistic.groyup(:created_at).count]
      
    %div.indent.panel-body    
        // Instructions
        %label
            Bash History:
            %div.indent
                = @statistic.bash_histories
                %p
