$('#modal-scoring-answer-essay-show').find('#info').html('</p><b>question: </b><%= @answer.question.text %>');
$('#modal-scoring-answer-essay-show').modal('show');
$('#modal-scoring-answer-essay-show').find('#modalbody').html('<%= escape_javascript @answer.text_essay.gsub("\n", "<br>").html_safe %>');