%nav.navbar.navbar-default
  %a.navbar-brand
    Tutorials 

  %ul.nav.nav-tabs

    %li{role: 'presentation', class: params[:controller] == 'tutorials' ? "active" : "" }
      = link_to 'Quick Start', tutorials_path

    /
      %li{role: 'presentation', class: params[:controller] == 'scenarios' ? "active" : "" }
        = link_to 'Making Scenarios', tutorials_making_scenarios_path

    %li{role: 'presentation'}
      = link_to 'Instructor Manual', tutorials_instructor_manual_path

    %li{role: 'presentation'}
      = link_to 'Student Manual', tutorials_student_manual_path