= subscribe_to "/cleanup"
%h1 Cleanup log (not persistent)
%pre#status

%div.btn-group
  = link_to 'Purge Web DB', management_purge_path, class: 'btn btn-default'
  = link_to 'Clean AWS', management_clean_path, class: 'btn btn-default'
