# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: Administrator
  admin_email: admin@edurange.org
  admin_password: passwordfoo
  domain_name: edurange.org
  secret_key_base: a0c61f7f3ffae7b047d7fb92fcc153535d0e0ab7037bae3f3be99be1fe0cb8b44db21d93be36c01e48fea37001ec7a03cbb1d19bdc5f15248bc1d19fc6867105

test:
  secret_key_base: 112f9e4b0b825504cdf775225ffd3ef3598c419192fac2b631912b6bfbc34014a05945dc219e40d9a50884c931fff500c56d66132a7177f07f5504db9b410b6b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
