%div.panel.panel-default
  %div.panel-heading Create Scenario
  %div.panel-body
    = simple_form_for(@scenario) do |f|
      = f.error_notification
      %div.form-group
        %label Select Yml Template
        = f.select :template, options_for_select(@templates)

      .form-actions
        = f.button :submit, class: 'btn btn-primary'
