// import the CSS framework

$brand-primary: #000000;
$brand-success: #ffffff;
$brand-info:    #ffffff;
$brand-warning: #ffffff;
$brand-danger:  #ffffff;

$primary-font: 'Open Sans', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
blockquote {
  margin: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  margin-top: 24px;
  font-size: 16px;
}
::-moz-selection {
  background-color: #dadada;
  color: #343434;
  text-shadow: none;
}
::selection {
  background-color: #dadada;
  color: #343434;
  text-shadow: none;
}
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}
.wrap {
  margin: 0 auto;
}
.all-caps {
  text-transform: uppercase;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.unstyled-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.unstyled-list li {
  list-style-type: none;
}
b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body {
  font-family: $primary-font;
  color: #222222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}
a {
  text-decoration: none;
  color: #A81300;
}
a:visited {
  font-weight: 400;
  color: #555555;
}
a:hover {
  color: #000000;
  text-decoration: bold
}
a:focus {
  outline: thin dotted;
  color: #000000;
}
a:hover,
a:active {
  outline: 0;
}
.link-arrow {
  font-weight: 100;
  text-decoration: underline;
  font-style: normal;
}
figcaption {
  padding-top: 10px;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7143;
  line-height: 1.3;
  color: #3c3c3c;
}
.notice {
  margin-top: 1.5em;
  padding: .5em 1em;
  text-indent: 0;
  font-size: 16px;
  font-size: 1rem;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
blockquote {
  font-family: 'Josefin Slab', serif;
  font-style: italic;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  border-left: 8px solid #000000;
}
.footnotes {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7143;
  font-family: $primary-font;
}
tt,
code,
kbd,
samp,
pre {
  font-family: 'source-code-pro', monospace;
}
p code,
li code {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  white-space: nowrap;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #e6e6e6;
  background-color: #f2f2f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
pre {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  overflow-x: auto;
}
.highlight {
  margin-bottom: 1.5em;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  border: 1px solid #dedede;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  *zoom: 1;
}
figure:before,
figure:after {
  display: table;
  content: "";
  line-height: 0;
}
figure:after {
  clear: both;
}
figure img {
  margin-bottom: 10px;
}
figure a img {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
figure a img:hover {
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -ms-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
@media only screen and (min-width: 62.5em) {
  figure.half img {
    width: 310px;
    float: left;
    margin-right: 10px;
  }
  figure.half figcaption {
    clear: left;
  }
}
@media only screen and (min-width: 62.5em) {
  figure.third img {
    width: 200px;
    float: left;
    margin-right: 10px;
  }
  figure.third figcaption {
    clear: left;
  }
}
svg:not(:root) {
  overflow: hidden;
}
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000 !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.btn:visited {
  color: #ffffff;
}
.btn:hover {
  background-color: #ffffff;
  color: #000000;
}
.well {
  padding: 20px;
  border: 1px solid #343434;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }
  70% {
    -moz-transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }
  70% {
    -o-transform: scale(0.9);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  80% {
    -moz-transform: translateY(-10px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  80% {
    -o-transform: translateY(-10px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-500px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes drop {
  0% {
    -moz-transform: translateY(-500px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes drop {
  0% {
    -o-transform: translateY(-500px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes drop {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
.drop {
  -webkit-animation-name: drop;
  -moz-animation-name: drop;
  -o-animation-name: drop;
  animation-name: drop;
}

//loader animation

$loader-style: double; 
$loader-width: 0.5em;
$loader-color: #000;
$loader-size: 150px;
$loader-speed: 1s;

$body-bg: #FFF;

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

body {
  background-color: white;
}

.loader {
  width: 1em;
  height: 1em;
  font-size: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (max-width: 225px), (max-height: 225px) {
  .loader {
    font-size: 75px;
  }
}
.loader:before, .loader:after {
  content: "";
  top: 0;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-width: 0.5em;
  border-style: double;
  border-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 1em;
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
}
.loader:after {
  left: 0;
  border-left-color: black;
}
.loader:before {
  right: 0;
  border-right-color: black;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
form {
  margin: 0 0 5px 0;
}
form fieldset {
  margin-bottom: 5px;
  padding: 0;
  border-width: 0;
}
form legend {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  *margin-left: -7px;
  padding: 0;
  color: #222222;
  border: 0;
  border-bottom: 1px solid #cccccc;
  white-space: normal;
}
form p {
  margin-bottom: 2.5px;
}
form ul {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}
form br {
  display: none;
}
label,
input,
button,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}
input,
button,
select,
textarea {
  font-family: $primary-font;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
label {
  display: block;
  margin-bottom: 1.25px;
  font-weight: bold;
  color: #222222;
}
label input,
label textarea,
label select {
  display: block;
}
input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  color: #222222;
}
input:hover,
textarea:hover,
select:hover {
  border-color: #808080;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}
select,
input[type="file"] {
  *margin-top: 4px;
}
select {
  width: auto;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
textarea {
  resize: vertical;
  height: auto;
  overflow: auto;
  vertical-align: top;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed;
}
input:focus,
textarea:focus {
  border-color: #000000;
  outline: 0;
  outline: thin dotted \9;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.help-block,
.help-inline {
  color: #808080;
}
.help-block {
  display: block;
  margin-bottom: 1em;
  line-height: 1em;
}
.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}
.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}
.form-inline label {
  display: inline-block;
}
.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}
.dosearch {
  padding: 6px 10px;
  cursor: pointer;
  display: block;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dosearch:hover {
  -webkit-box-shadow: inset 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff;
  box-shadow: inset 0 0 1px #ffffff;
  background-color: #1a1a1a;
}
.search-form {
  width: 100%;
  position: relative;
  opacity: 0;
  transition: all 200ms 100ms cubic-bezier(0, 0.6, 0.4, 1);
  top: 0;
  left: -200px;
  z-index: 9002;
}
.search-form .search-field {
  -webkit-appearance: none;
  width: 100%;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  background-clip: padding-box;
  font-size: 32px;
  font-size: 2rem;
}
.search-form .search-field:focus {
  box-shadow: none;
  outline: none;
}
.search-form.active {
  opacity: 1;
  top: 0;
  left: 0;
}
.search-form.hidden {
  display: none;
}
.search-form ::-webkit-input-placeholder {
  font-size: 32px;
  font-size: 2rem;
}
.search-form .icon-remove-sign {
  position: absolute;
  top: .6rem;
  right: 1rem;
  display: block;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
}
.search-form .search-field::-webkit-search-decoration,
.search-form .search-field::-webkit-search-cancel-button,
.search-form .search-field::-webkit-search-results-button,
.search-form .search-field::-webkit-search-results-decoration {
  display: none;
}
.search-form .post-list {
  position: absolute;
  width: 100%;
}
.search-form .post-list h4,
.search-form .post-list li,
.search-form .post-list p,
.search-form .post-list a {
  color: #ffffff;
}
.search-form .post-list li {
  border-bottom: 1px solid #ffffff;
}
body.search-overlay {
  overflow: hidden;
}
body.search-overlay:after {
  content: '';
  background-color: #0d0d0d;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9001;
}
.no-js .dosearch {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 5px solid #000000;
}
@media only screen and (min-width: 48em) {
  body {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.navbar {
  text-align: center;
  *zoom: 1;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  border: 0;
  margin: 0 auto;
}
.navbar:before,
.navbar:after {
  display: table;
  content: "";
  line-height: 0;
}
.navbar:after {
  clear: both;
}
.navbar ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  padding: 6px 6px;
  background-color: #000000;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  *zoom: 1;
}
.navbar ul:before,
.navbar ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.navbar ul:after {
  clear: both;
}
.navbar li {
  display: block;
  float: left;
  list-style: none;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ffffff;
}
.navbar li a:hover {
  background-color: #ffffff;
  color: #000000;
}
.navbar a {
  display: block;
  padding: 6px 10px;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#site-nav {
  z-index: 9000;
  display: none;
}
.site-logo img {
  width: 100px;
  height: 100px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .05s;
  -moz-animation-delay: .05s;
  -o-animation-delay: .05s;
  animation-delay: .05s;
  border: 4px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
@media only screen and (min-width: 48em) {
  .site-logo img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
  }
}
@media only screen and (min-width: 62.5em) {
  .site-logo img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
  }
}
#site-title {
  font-size: 80px;
}
.page-title {
  text-align: center;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .75s;
  -moz-animation-delay: .75s;
  -o-animation-delay: .75s;
  animation-delay: .75s;
}
.page-title a {
  color: #000000;
}
.page-description {
  text-align: center;
  margin-top: 0;
  font-family: 'Helvetica', serif;
  font-size: 20px;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@media only screen and (min-width: 48em) {
  .page-description {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
main {
  *zoom: 1;
  margin: 0px 50px 0px 50px;
  background-position:center; 
}
main:before,
main:after {
  display: table;
  content: "";
  line-height: 0;
}
main:after {
  clear: both;
}
.entry,
.hentry {
  *zoom: 1;
  border-bottom: 1px solid #cccccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.entry:before,
.hentry:before,
.entry:after,
.hentry:after {
  display: table;
  content: "";
  line-height: 0;
}
.entry:after,
.hentry:after {
  clear: both;
}
.entry-feature-image {
  margin: 20px 0 0;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .entry-feature-image {
    margin-top: -75px;
  }
}
@media only screen and (min-width: 62.5em) {
  .entry-feature-image {
    margin-top: -145px;
  }
}
.entry-header {
  max-width: 640px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 62.5em) {
  .entry-header {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
.entry-tags {
  display: block;
  margin-top: 2em;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}
.entry-tags a {
  color: #222222;
}
span + .entry-title {
  margin-top: 0;
}
.entry-title {
  font-family: 'Josefin Slab', serif;
  font-style: italic;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -3px;
}
.entry-title a {
  color: #000000;
  text-decoration: underline;
}
@media only screen and (min-width: 48em) {
  .entry-title {
    max-width: 600px;
    font-size: 52px;
    font-size: 3.25rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .entry-title {
    max-width: 800px;
    font-size: 68px;
    font-size: 4.25rem;
  }
}
.entry-wrapper {
  margin: 0 auto 3em;
  max-width: 440px;
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.entry-wrapper:before,
.entry-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.entry-wrapper:after {
  clear: both;
}
@media only screen and (min-width: 48em) {
  .entry-wrapper {
    max-width: 760px;
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 62.5em) {
  .entry-wrapper {
    max-width: 960px;
  }
}
.entry-meta {
  max-width: 640px;
  width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
}
.entry-meta a {
  color: #222222;
}
@media only screen and (min-width: 62.5em) {
  .entry-meta {
    float: left;
    width: 150px;
    margin: 0 40px 40px 0;
    padding: 0;
  }
}
.entry-meta > span {
  padding: 0 20px 10px 0;
  display: inline-block;
}
@media only screen and (min-width: 62.5em) {
  .entry-meta > span {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #cccccc;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.author-photo {
  display: none;
}
@media only screen and (min-width: 62.5em) {
  .author-photo {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    *zoom: 1;
  }
  .author-photo:before,
  .author-photo:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .author-photo:after {
    clear: both;
  }
}
.entry-content {
  max-width: 640px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.entry-content p:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 62.5em) {
  .entry-content {
    float: left;
  }
}
.entry-content p > a,
.entry-content li > a {
  border-bottom: 1px dotted #a2a2a2;
}
.entry-content p > a:hover,
.entry-content li > a:hover {
  border-bottom-style: solid;
}
.post-list li > a {
  border-bottom-width: 0;
}
#disqus_thread {
  margin-top: 2em;
}
.pagination {
  text-align: center;
}
#home .entry-title,
#page .entry-title {
  text-align: center;
  max-width: 100%;
}
@media only screen and (min-width: 62.5em) {
  #home .entry-content,
  #page .entry-content {
    float: none;
  }
}
.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.post-list li {
  padding: 8px 0;
  border-bottom: 1px solid #cccccc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  *zoom: 1;
}
.post-list li:before,
.post-list li:after {
  display: table;
  content: "";
  line-height: 0;
}
.post-list li:after {
  clear: both;
}
.post-list a > span {
  float: right;
}
.post-list .entry-date {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  display: none;
}
@media only screen and (min-width: 48em) {
  .post-list .entry-date {
    display: inline;
  }
}
.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}
.tag-box:before,
.tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}
.tag-box:after {
  clear: both;
}
.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}
.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}
.search-wrapper {
  display: none;
  position: absolute;
  top: 50px;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  *zoom: 1;
}
.search-wrapper:before,
.search-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.search-wrapper:after {
  clear: both;
}
@media only screen and (min-width: 48em) {
  .search-wrapper {
    top: 100px;
  }
}
.footer-wrapper {
  *zoom: 1;
  margin: 2em auto;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  color: #555555;
}
.footer-wrapper:before,
.footer-wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.footer-wrapper:after {
  clear: both;
}
.footer-wrapper a {
  color: #555555;
}
.social-icons {
  margin: 1em 0 2em;
}
.social-icons a {
  padding: 4px 8px;
}
.social-icons a:hover {
  color: #000000;
}
.upgrade {
  padding: 10px;
  text-align: center;
}
#goog-fixurl ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#goog-fixurl ul li {
  list-style-type: none;
}
#goog-wm-qt {
  width: auto;
  margin-right: 10px;
}
#goog-wm-sb {
  display: inline-block;
  padding: 8px 20px;
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000 !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#goog-wm-sb:visited {
  color: #ffffff;
}


