
// Place all the styles related to the Scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#console {
  overflow-y: scroll;
  height: 500px;
  margin: 0 10px 10px 10px;
}

#console-header {
  margin: 10px 10px;
}

.page-header, dl {
  margin-left: 10px;
}
#scenario-buttons {
  margin: 0 10px 10px 10px;
}



.stopped {
  color: black;
}

.paused {
  color: aqua;
}

.queued_boot {
  color: grey;
}

.queued_unboot {
  color: grey;
}

.booted {
  color: green;
}

.boot_failed {
  color: red;
}

.unboot_failed {
  color: red;
}

.partially_booted {
  color: green;
}

.partially_unbooted {
  color: green;
}

.partially_booted_with_failure {
  color: red;
}

.partially_unbooted_with_failure {
  color: red;
}

.failure {
  color: red;
}

table, th, tr, td {
  border: 1px solid #d0d0d0; 
}

.indent {
  margin-left: 20px;
}

