
// Place all the styles related to the Scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#console {
  overflow-y: scroll;
  height: 220px;
  margin: 0 10px 10px 10px;
}

#console-header {
  margin: 10px 10px;
}

.page-header, dl {
  margin-left: 10px;
}
#scenario-buttons {
  margin: 0 10px 10px 10px;
}