// Clouds
%label Clouds:
%div.inline-block
  - if @scenario.modifiable?
    %div.dropdown
      %button.btn.btn-default.dropdown-toggle{type:'button', id:'dropdown-clouds', "data-toggle" => 'dropdown', "aria-expanded" => "true"}
        %span.caret
      %ul.dropdown-menu{role: 'menu', "aria-labelledby" => 'dropdown-clouds'}
        %li
          = link_to 'Add Cloud', "#modal-cloud-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-cloud-add').find('#name').val(''); $('#modal-cloud-add').find('#name-div').removeClass('has-error'); $('#modal-cloud-add').find('#name-help').html(''); $('#modal-cloud-add').find('#cidr_block').val(''); $('#modal-cloud-add').find('#cidr-div').removeClass('has-error'); $('#modal-cloud-add').find('#cidr-help').html('');"
%ul#clouds
  - @scenario.clouds.each do |cloud|
    = render '/scenarios/show/cloud', cloud: cloud


