// Recipes
%label Recipes:
- if @scenario.modifiable?
  %div.inline-block
    %div.dropdown{id:'dropdown-recipes'}
      %button.btn.btn-default.dropdown-toggle{type:'button', id:'dropdown-button-recipes', "data-toggle" => 'dropdown', "aria-expanded" => "true"}
        %span.caret
      %ul.dropdown-menu{role: 'menu', "aria-labelledby" => 'dropdown-button-recipes'}
        %li
          = link_to 'Add Global Recipe', recipe_global_get_scenario_path(@scenario), remote: true, method: :post
        %li
          = link_to 'Add Custom Recipe', "#modal-recipe-custom-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-recipe-custom-add').find('#name-div').removeClass('has-error'); $('#modal-recipe-custom-add').find('#name-help').html(''); $('#modal-recipe-custom-add').find('#name').val(''); "
%ul#recipes
  - @scenario.recipes.each do |recipe|
    = render '/scenarios/show/recipe', recipe: recipe

