%label Roles:
- if @scenario.modifiable?
  %div.inline-block
    %div.dropdown{id:'dropdown-roles'}
      %button.btn.btn-default.dropdown-toggle{type:'button', id:'dropdown-button-roles', "data-toggle" => 'dropdown', "aria-expanded" => "true"}
        / %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
        %span.caret
      %ul.dropdown-menu{role: 'menu', "aria-labelledby" => 'dropdown-button-roles'}
        %li{ id: 'role-add-button-li' }
          = link_to 'Add Role', "#modal-role-add", :data => {:toggle=>"modal"}, onclick: "$('#modal-role-add').find('#name').val(''); $('#modal-role-add').find('#name-div').removeClass('has-error'); $('#modal-role-add').find('#name-help').html('');", id: 'role-add-button'
%ul#roles
  - @scenario.roles.each do |role|
    = render '/scenarios/show/role', role: role
