%nav.navbar
  .container
    .navbar-header
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.drop
        = render 'layouts/student_navigation_links'